.post-container{
    font-size: 1rem;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #0081a7;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    color:#fdfcdc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 10000ms;
}

.post-title{
    font-size: 1rem;
}

.post-content{
    width: 100%;
    background-color: #fdfcdc;
    word-wrap: break-word;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 1rem 0;
    color: #f07167;
}


/**
 *
 * Responsive screen
 * Uncomment only when you need 
 *
 */

/* Style for XS Screen */
/* 
@media screen and (max-width: 576px) {
    .image-form-item{
        background-color: red;
    }
} 
*/

/* Style for SM Screen */
/* 
@media screen and (min-width: 576px) {
    .image-form-item{
        background-color: yellow;
    }
} 
*/

/* Style for MD Screen */
/* 
@media screen and (min-width: 768px) {
    .image-form-item{
        background-color: green;
    }
} 
*/

/* Style for LG Screen */
/* 
@media screen and (min-width: 992px) {
    .image-form-item{
        background-color: blue;
    }
} 
*/

/* Style for XL Screen */
/* 
@media screen and (min-width: 1200px) {
    .image-form-item{
        background-color: blueviolet;
    }
} 
*/

/* Style for XXL Screen */
/* 
@media screen and (min-width: 1600px) {
    .image-form-item{
        background-color: orange;
    }
} 
*/
