body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(221, 242, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 164, 245);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(24, 159, 249);
}


/**
 *
 * Responsive screen
 * Uncomment only when you need 
 *
 */

/* Style for XS Screen */

@media screen and (max-width: 576px) {
  body{
    padding: 3rem 1rem;
    transition: 500ms;

  }
} 


/* Style for SM Screen */

@media screen and (min-width: 576px) {
  body{
    padding: 3rem 1rem;
    transition: 500ms;

  }
} 


/* Style for MD Screen */

/* @media screen and (min-width: 768px) {
  body{
    padding: 3rem 1rem;
    transition: 500ms;

  }
}  */


/* Style for LG Screen */
/* 
@media screen and (min-width: 992px) {
    .image-form-item{
        background-color: blue;
    }
} 
*/

/* Style for XL Screen */

@media screen and (min-width: 1200px) {
  body{
    padding: 3rem 15rem;
    transition: 500ms;

  }
} 


/* Style for XXL Screen */
/* 
@media screen and (min-width: 1600px) {
    .image-form-item{
        background-color: orange;
    }
} 
*/
