.post-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 0.5rem;
}
.post-input {
    min-height: 5rem;
    height: auto;
    word-wrap: break-word;
}
.post-button {
    padding: 0.3rem 1rem;
    align-self: flex-end;
    border:none;
    background-color:#0081a7 ;
    color: #fdfcdc;
}



/**
 *
 * Responsive screen
 * Uncomment only when you need 
 *
 */

/* Style for XS Screen */
/* 
@media screen and (max-width: 576px) {
    .image-form-item{
        background-color: red;
    }
} 
*/

/* Style for SM Screen */
/* 
@media screen and (min-width: 576px) {
    .image-form-item{
        background-color: yellow;
    }
} 
*/

/* Style for MD Screen */
/* 
@media screen and (min-width: 768px) {
    .image-form-item{
        background-color: green;
    }
} 
*/

/* Style for LG Screen */
/* 
@media screen and (min-width: 992px) {
    .image-form-item{
        background-color: blue;
    }
} 
*/

/* Style for XL Screen */
/* 
@media screen and (min-width: 1200px) {
    .image-form-item{
        background-color: blueviolet;
    }
} 
*/

/* Style for XXL Screen */
/* 
@media screen and (min-width: 1600px) {
    .image-form-item{
        background-color: orange;
    }
} 
*/
